### Homework 4

In [1]:
# Import standard packages
import numpy as np
import scipy.stats as stats
import pandas as pd

# additional packages
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm
from typing import Tuple

##### 1. Show the equivalence of t-test and F-test for comparing two groups

In [2]:
# read data
data = pd.read_csv('galton.csv')
data.head()

  family  father  mother sex  height  nkids
0      1    78.5    67.0   M    73.2      4
1      1    78.5    67.0   F    69.2      4
2      1    78.5    67.0   F    69.0      4
3      1    78.5    67.0   F    69.0      4
4      2    75.5    66.5   M    73.5      4

In [15]:
# calclulate F and t values
F_val, p_val = stats.f_oneway(data['father'], data['mother'])
t_val, p_val_t = stats.ttest_ind(data['father'], data['mother'])

# print results
print(f'From the t-test we get t^2 = {t_val**2:5.3f} and from the F-test F = {F_val:5.3f}.')
print('Therefore, T^2 == F.')

1.443197963131157e-302
From the t-test we get t^2 = 2083.481 and from the F-test F = 2083.481.
Therefore, T^2 == F.

In [13]:
# compare p-values
print(f'p-value from t-test: {p_val_t:5.3f} and from F-test: {p_val:5.3f}.')

p-value from t-test: 0.000 and from F-test: 0.000.

##### 2. Calculate Sums of squares (SS) and degrees of freedom (DF).

Sum of Squares (SS)

In [60]:
# initialize data
group_1 = [3, 2, 1]
group_2 = [5, 3, 4]
group_3 = [5, 6, 7]

# format data
df = pd.DataFrame({'1': group_1, '2': group_2, '3': group_3})
df = df.stack().reset_index().drop(labels='level_0', axis=1).rename(columns={'level_1': 'group', 0: 'value'})

groups = df.groupby('group')
ss_total = np.sum((df['value']-df['value'].mean())**2)
    
# Calculate ss_treatment and  ss_error
(ss_treatments, ss_error) = (0, 0)
for val, group in groups:
    ss_error += sum((group['value'] - group['value'].mean())**2)
    ss_treatments += len(group) * \
            (group['value'].mean() - df['value'].mean())**2

# show that ss_total == ss_treatments + ss_error
print(f'Total sum of squares: {ss_total:5.3f}')
print(f'Treatment sum of squares: {ss_treatments:5.3f}')
print(f'Error sum of squares: {ss_error:5.3f}')

is_true = ss_total == ss_treatments + ss_error
print(f'Total sum of squares == Treatment sum of squares + Error sum of squares: {is_true}')

Total sum of squares: 30.000
Treatment sum of squares: 24.000
Error sum of squares: 6.000
Total sum of squares == Treatment sum of squares + Error sum of squares: True

Degrees of Freedom (DOF)

In [66]:
m = 3 # number of groups
n = 3 # number of observations per group

dof_total = m*n - 1
dof_within = m*(n-1)
dof_between = n - 1

# show that dof_total == dof_within + dof_between
print(f'Degrees of freedom total: {dof_total}')
print(f'Degrees of freedom within: {dof_within}')
print(f'Degrees of freedom between: {dof_between}') 
print(f'Degrees of freedom total == Degrees of freedom within + Degrees of freedom between: {dof_total == dof_within + dof_between}')

Degrees of freedom total: 8
Degrees of freedom within: 6
Degrees of freedom between: 2
Degrees of freedom total == Degrees of freedom within + Degrees of freedom between: True